:root {
    --modal-bg: rgba(246, 239, 239, 0.85);
    --modal-main: #fcf8f8;
}

.modal-overlay {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    z-index: 1000;
    overflow-y: auto;
    padding: 2rem;
    background-color: var(--modal-bg);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
}

.modal-container {
    background-color: var(--modal-main);
    color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: auto;
    border-radius: 16px;
    max-width: 900px;
    max-height: 90vh;
    box-shadow: 0 4px 8px rgba(173, 169, 169, 0.85);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
}