.footer-container {
    flex: 1;
    position: fixed;
    height: 100px;
    width: 100%;
    left: 0;
    right: 0;
    background-color: var(--main-color);
}

.footer-container p {
    color: white;
}